.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50%;
}

.snh {
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(52, 152, 219, 0.8);
  padding: 0.8rem 1rem 0.2rem 1rem;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 8px;
}
